header, nav, aside, section, footer, div
{
    display: block;
    position: relative;
    float: left;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
    font-weight: 300;
}

header
{
    background-color:rgb(00, 00, 00);
    color: rgb(245, 240, 240);
    width: 100%;
}


section
{
    background-color:rgb(134, 134, 133);
    width: 100%; 
    min-height: 2em;

}


h4
{
    text-align: center;
}

button
{
    border: 1px solid #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-bottom: 2rem;
}

.upper
{
    padding: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.vertical-left {
    padding-left: 1rem;
    float: left;
  }

.vertical-right {
    padding-right: 2rem;
    float: right;
  }

.vertical-center {
    padding-left: 2rem;
    padding-right: 2rem;
    float: center;
  }

.vertical-full {
    margin-top: 2rem;
    float: center;
  }

  
#Details
  {
      float: center;
      width: 79.5rem;
      height: 12rem;
      background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
      border: 1px solid #333;
  }
   
  
#Bank
{
    float: left;
    width: 25rem;
    height: 12rem;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    border: 1px solid #333;
}

#Work
{
    float: center;
    width: 25rem;
    height: 12rem;
    margin-left:2rem;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    border: 1px solid #333;
}

#Store
{
    float: center;
    width: 25rem;
    height: 12rem;
    margin-left:2rem;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    border: 1px solid #333;
}


#pagewrapper{
     width: 100%;
}